<ul class="list-group">
  <% videos.each do |video_to_show| %>
    <% if video_to_show.id == video.id %>
        <li class="list-group-item text-primary">
          <%= link_to video_to_show.base_video.title, url_for([video_to_show.course, video_to_show]) %>
        </li>
    <% else %>
        <li class="list-group-item text-muted">
          <%= link_to video_to_show.base_video.title, url_for([video_to_show.course, video_to_show]), :class => "text-muted" %>
        </li>
    <% end %>
  <% end %>
</ul>
