<div id="<%= dom_id video_per_user %>">
  <p>
    <strong>User:</strong>
    <%= video_per_user.user_id %>
  </p>

  <p>
    <strong>Video:</strong>
    <%= video_per_user.video_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= video_per_user.status %>
  </p>

</div>
