<p style="color: green"><%= notice %></p>

<h1>Video per users</h1>

<div id="video_per_users">
  <% @video_per_users.each do |video_per_user| %>
    <%= render video_per_user %>
    <p>
      <%= link_to "Show this video per user", video_per_user %>
    </p>
  <% end %>
</div>

<%= link_to "New video per user", new_video_per_user_path %>
