<h1>Editing base task</h1>

<%= render "form", base_task: @base_task %>

<br>

<div>
  <%= link_to "Show this base task", @base_task %> |
  <%= link_to "Back to base tasks", base_tasks_path %>
</div>
