<div id="<%= dom_id resource %>">
  <p>
    <strong>Title:</strong>
    <%= resource.title %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= resource.url %>
  </p>

  <p>
    <strong>Base course:</strong>
    <%= resource.base_course_id %>
  </p>

</div>
