<div id="<%= dom_id course_per_user %>">
  <p>
    <strong>User:</strong>
    <%= course_per_user.user_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= course_per_user.course_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= course_per_user.status %>
  </p>

</div>
