<h1>Editing course per user</h1>

<%= render "form", course_per_user: @course_per_user %>

<br>

<div>
  <%= link_to "Show this course per user", @course_per_user %> |
  <%= link_to "Back to course per users", course_per_users_path %>
</div>
