/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html body{
    background-color: #f0efeb;
}

.badge.rounded-pill.bg-primary {
    transition: background-color .5s;
}

.badge.rounded-pill.bg-primary:hover {
    background-color: red;
    color: #fff;
}

.width-login{
    width: 450px;
}

@media (max-width: 750px) {
    .width-login {
        width: 80%;
    }
    .task-button{
        width: 100%;
    }
    .playlist-small{
        display: inherit;
    }
    .playlist{
        display: none;
    }
}

@media (min-width: 751px) {
    .playlist-small{
        display: none;
    }
    .playlist{
        display: inherit;
    }
}

.playlist{
    height: 85vh;
    overflow: scroll;
}

.card-zoom {
    transition: transform .2s; /* Animation */
}

.card-zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}